<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
  >
    <h1 style="color: red">Registration Page</h1>
    <!-- Registration Form -->
    <form id="registrationForm">
      <label for="first_name">First Name:</label>
      <input type="text" id="first_name" name="first_name" required /><br />

      <label for="last_name">Last Name:</label>
      <input type="text" id="last_name" name="last_name" required /><br />

      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required /><br />

      <button
        type="submit"
        style="
          color: white;
          background-color: blue;
          padding: 7px;
          border-radius: 5px;
          width: 250px;
          margin-top: 20px;
        "
      >
        Register
      </button>
    </form>

    <a href="/login">Already have an account login</a>

    <!-- Display registration status here -->
    <div id="registrationStatus" style="color: blueviolet"></div>

    <script>
      document.addEventListener("DOMContentLoaded", function () {
        const registrationForm = document.getElementById("registrationForm");
        const registrationStatus =
          document.getElementById("registrationStatus");

        registrationForm.addEventListener("submit", function (event) {
          event.preventDefault();

          const formData = new FormData(registrationForm);
          console.log("Form Data:", Object.fromEntries(formData));

          fetch("/register", {
            method: "POST",
            body: JSON.stringify(Object.fromEntries(formData)),
            headers: {
              "Content-Type": "application/json",
            },
          })
            .then((response) => response.json())
            .then((data) => {
              registrationStatus.textContent = data.message;
              if (data.message === "User registered successfully") {
                window.location.href = "/product";
              }
            })
            .catch((error) => {
              registrationStatus.textContent =
                "Registration failed. Please try again.";
              console.error("Error:", error);
            });
        });
      });
    </script>
  </body>
</html>
