<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body style="display: flex; justify-content: center">
    <div>
      <h1 style="text-align: center">product page</h1>
      <button
        style="
          padding: 5px;
          background-color: aqua;
          border: 1px solid;
          border-radius: 5px;
        "
      >
        <a href="/uploadCSV" style="text-decoration: none"> Upload CSV</a>
      </button>
      <button
        style="
          padding: 5px;
          background-color: pink;
          border: 1px solid;
          border-radius: 5px;
        "
      >
        <a href="/productsrev" style="text-decoration: none"> Rate Product </a>
      </button>
      <button
        style="
          padding: 5px;
          background-color: greenyellow;
          border: 1px solid;
          border-radius: 5px;
        "
      >
        <a href="/products_by_rating" style="text-decoration: none">
          View Product
        </a>
      </button>
    </div>
  </body>
</html>
